openapi: 3.2.0
info:
  title: API
  description: >-
    API to manage your %product% resources programmatically. Using these APIs, you are able to
    manage pages, integrate with CI/CD, and retrieve resources among other operations.
  contact: {}
  version: 1.1.0
servers:
  - url: 'https://api.developerhub.io/api/v1'
    variables: {}
paths:
  /page:
    get:
      tags:
        - Page
      summary: Get page by slug
      description: >
        Get a page by slugs and read its content in
        [Markdoc](https://docs.developerhub.io/support-center/exporting-documentation#markdoc)

        or a derived format. Rate limit: 60 in 1 minute.


        Either `version_id` or `version_slug` must be provided. Either `documentation_id` or
        `documentation_slug` must be provided.
      operationId: get_page
      parameters:
        - name: version_id
          in: query
          description: Version ID.
          required: false
          schema:
            type: integer
        - name: version_slug
          in: query
          description: Version Slug.
          required: false
          schema:
            type: string
        - name: documentation_id
          in: query
          description: Documentation ID.
          required: false
          schema:
            type: integer
        - name: documentation_slug
          in: query
          description: Documentation Slug.
          required: false
          schema:
            type: string
        - name: page_slug
          in: query
          description: Page Slug.
          required: true
          schema:
            type: string
        - name: format
          in: query
          description: Format type
          required: false
          schema:
            type: string
            default: markdoc
            enum:
              - markdoc
              - markdown
              - html
              - text
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/page/{id}':
    get:
      tags:
        - Page
      summary: Read page
      description: >-
        Read a page including its content in
        [Markdoc](https://docs.developerhub.io/support-center/exporting-documentation#markdoc) or a
        derived format. Rate limit: 600 in 1 minute.
      operationId: read_page
      parameters:
        - name: id
          in: path
          description: Page ID
          required: true
          schema:
            type: integer
        - name: format
          in: query
          description: Format type
          required: false
          schema:
            type: string
            default: markdoc
            enum:
              - markdoc
              - markdown
              - html
              - text
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
    put:
      tags:
        - Page
      summary: Update a page
      description: 'Updates a page title, slug or draft contents. Rate limit: 10800 in 1 hour.'
      operationId: update_page
      parameters:
        - name: id
          in: path
          description: Page ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Page object
              properties:
                title:
                  type: string
                  description: Title of the page
                  example: Getting Started
                slug:
                  type: string
                  description: Slug in the URL. Generated if it was not provided
                  example: getting-started
                content:
                  type: string
                  description: >-
                    Draft contents of the page in [Markdoc
                    format](https://docs.developerhub.io/support-center/exporting-documentation#markdoc)
                  example: |
                    Let's start here

                    ## Step 1
                    Welcome to **DeveloperHub**

                    {% callout type="info" title="Note" %}
                    Content is written in Markdoc.
                    {% /callout %}
                message:
                  type: string
                  description: Page history message
                  default: Updated using API
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
    delete:
      tags:
        - Page
      summary: Delete a page
      description: 'Deletes a page and removes it from the navigation index. Rate limit: 10800 in 1 hour.'
      operationId: delete_page
      parameters:
        - name: id
          in: path
          description: Page ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                description: Empty object
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/documentation/{id}/page':
    post:
      tags:
        - Page
      summary: Create a page
      description: >-
        Creates a page with draft contents. To insert in a pre-existing category, set the
        `categoryTitle`. Rate limit: 10800 in 1 hour.
      operationId: create_page
      parameters:
        - name: id
          in: path
          description: Documentation ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Page object
              properties:
                title:
                  type: string
                  description: Title of the page
                  example: Getting Started
                slug:
                  type: string
                  description: Slug in the URL. Generated if it was not provided
                  example: getting-started
                content:
                  type: string
                  description: >-
                    Draft contents of the page in [Markdoc
                    format](https://docs.developerhub.io/support-center/exporting-documentation#markdoc)
                  example: |
                    Let's start here

                    ## Step 1
                    Welcome to **DeveloperHub**

                    {% callout type="info" title="Note" %}
                    Content is written in Markdoc.
                    {% /callout %}
                categoryTitle:
                  type: string
                  description: >-
                    To create the page inside a category, provide the pre-existing category title
                    here (case insensitive). The page is added after the category's existing pages.
                  example: Installation
                message:
                  type: string
                  description: Page history message
                  default: Created using API
              required:
                - title
                - content
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/page/{id}/publish':
    put:
      tags:
        - Page
      summary: Publish a page
      description: 'Publishes a page from its draft contents. Rate limit: 10800 in 1 hour.'
      operationId: publish_page
      parameters:
        - name: id
          in: path
          description: Page ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /version:
    get:
      tags:
        - Version
      summary: Lists all project versions
      description: >-
        Lists all project versions that are accessible through the API Key. This will only list
        non-deleted versions. Rate limit: 60 in 60 minutes.
      operationId: list_versions
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Version'
                description: OK
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/version/{id}':
    put:
      tags:
        - Version
      summary: Update a version
      description: >-
        Updates a version. Enables you to publish or unpublish a version. Rate limit: 3600 in 1
        hour.
      operationId: update_version
      parameters:
        - name: id
          in: path
          description: Version ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Version object
              properties:
                name:
                  type: string
                  description: Name of the version
                  example: v1.0
                slug:
                  type: string
                  description: Slug in the URL
                  example: v1.0
                published:
                  type: boolean
                  description: True if it can be viewed by readers
                  example: true
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/version/{id}/documentation':
    get:
      tags:
        - Documentation
      summary: Lists documentation sections in a version
      description: 'Lists all documentation sections in a version. Rate limit: 60 in 60 minutes.'
      operationId: list_documentation
      parameters:
        - name: id
          in: path
          description: Version ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Documentation'
                description: OK
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/version/{id}/report':
    get:
      tags:
        - Version
      summary: Get version content report
      description: >-
        Reports every page in the version with its creation and last-update details. Rate limit: 60
        in 60 minutes.
      operationId: get_version_report
      parameters:
        - name: id
          in: path
          description: Version ID
          required: true
          schema:
            type: integer
        - name: created_by_email
          in: query
          description: Only include pages created by the user with this email address
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VersionReportPage'
                description: OK
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/version/{id}/broken-links':
    get:
      tags:
        - Version
      summary: Get broken links report
      description: >-
        Lists every broken or risky link found across the version's pages, each with its issue
        type, severity, and a human-readable explanation. Rate limit: 60 in 60 minutes.
      operationId: get_version_broken_links
      parameters:
        - name: id
          in: path
          description: Version ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrokenLink'
                description: OK
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/version/{versionId}/reference':
    post:
      tags:
        - Reference
      summary: Adds or updates a reference specification
      description: >-
        Adds or updates a reference specification in that version. If the reference title matches
        one that already existed, then it is updated. Rate limit: 300 in 60 minutes.
      operationId: add_reference
      parameters:
        - name: versionId
          in: path
          description: The version ID
          required: true
          style: simple
          schema:
            type: string
        - name: publish
          in: query
          description: >-
            Publish the specification immediately. Set to false to import it as a draft to be
            published later.
          required: false
          schema:
            type: boolean
            default: true
        - name: show_try_it_out
          in: query
          description: Enable the Try It Out console on the reference
          required: false
          schema:
            type: boolean
        - name: allow_download
          in: query
          description: Allow readers to download the specification
          required: false
          schema:
            type: boolean
        - name: expandable
          in: query
          description: Show the reference operations as expandable rows
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          multipart/form-data:
            encoding: {}
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  description: The API specification in OpenAPI 2/3 (Swagger) format
                  format: binary
        required: false
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
        '400':
          description: General Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/reference/{id}/definition':
    get:
      tags:
        - Reference
      summary: Read a reference specification
      description: >-
        Downloads the raw specification of an API reference in JSON or YAML. Rate limit: 600 in 1
        minute.
      operationId: read_reference_definition
      parameters:
        - name: id
          in: path
          description: Reference ID
          required: true
          schema:
            type: integer
        - name: draft
          in: query
          description: Read the draft specification instead of the published one
          required: false
          schema:
            type: boolean
            default: false
        - name: format
          in: query
          description: >-
            Format of the returned specification. `auto` returns it as originally uploaded; `json`
            and `yaml` convert it if needed.
          required: false
          schema:
            type: string
            default: auto
            enum:
              - auto
              - json
              - yaml
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: object
                description: The specification as a JSON document
            text/yaml:
              schema:
                type: string
                description: The specification as a YAML document
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '404':
          description: Draft not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/reference/{id}/publish':
    put:
      tags:
        - Reference
      summary: Publish a reference draft
      description: >-
        Publishes the draft specification of an API reference. Fails if the reference has no draft.
        Rate limit: 300 in 60 minutes.
      operationId: publish_reference
      parameters:
        - name: id
          in: path
          description: Reference ID
          required: true
          schema:
            type: integer
      responses:
        '201':
          description: Published
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reference'
        '400':
          description: General Exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /export:
    get:
      tags:
        - Project
      summary: Exports project
      description: >-
        Exports the project into a ZIP file of Markdoc or Markdown files. Only available for
        enterprise plans. Rate limit: 10 in 60 minutes.
      operationId: export_project
      parameters:
        - name: format
          in: query
          description: Format of the exported page files.
          required: false
          schema:
            type: string
            default: markdoc
            enum:
              - markdoc
              - markdown
        - name: version_slug
          in: query
          description: Export only the version with this slug. Omit to export all versions.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/zip:
              schema:
                type: string
                description: OK
                format: binary
        '400':
          description: Upgrade Plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /search:
    get:
      tags:
        - Project
      summary: Search content
      description: >-
        Searches through project or version. Use this to build custom search into your own
        website/services which directs users to documentation. Minimum plan required is Grow plan.
        Rate limit: 10,800 in 60 minutes.
      operationId: search
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search query
          example: variables
          required: true
        - name: version_slug
          in: query
          schema:
            type: string
          description: >-
            Slug of the version to be searched. To use always the default published version, use
            'latest'. Omit to search in the entire project
          example: v1.0
          required: false
        - name: page
          in: query
          schema:
            type: integer
            default: 0
          description: Specify the page to retrieve. Numbering starts from 0.
          required: false
          example: 1
        - name: hits
          in: query
          schema:
            type: integer
            default: 20
          description: Number of hits to retrieve.
          required: false
          example: 20
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
  /all:
    get:
      tags:
        - Project
      summary: Get all resources
      description: >-
        Returns all pages, documentation, references and versions of your project. Rate limit: 30 in
        60 minutes.
      operationId: all_project
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllProject'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /audit:
    get:
      tags:
        - Project
      summary: Get audit log
      description: 'Query the audit log. Only available in enterprise plans. Rate limit: 600 in 60 minutes.'
      operationId: get_audit_log
      parameters:
        - name: scopes
          in: query
          schema:
            type: array
            default:
              - content
            items:
              type: string
              enum:
                - content
                - users
                - hosting
                - security
                - plan
                - other
          description: Scope of the audit logs.
          example:
            - content
          required: false
        - name: max_date
          in: query
          schema:
            type: string
          description: >-
            Maximum date to retrieve audits in Y-m-d\TH:i:sP format. Note that "+" character must be
            encoded to "%2B"
          example: '2021-01-24T17:06:24+00:00'
          required: false
        - name: hits
          in: query
          schema:
            type: integer
            default: 20
          description: Number of hits to retrieve. Maximum is 100
          example: 20
          required: false
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor for next page of results
          example: XAr
          required: false
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audit'
        '400':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /users:
    get:
      tags:
        - Project
      summary: Get users
      description: 'Get all users and their roles. Rate limit: 3600 in 60 minutes.'
      operationId: get_users
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
                description: OK
        '400':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  /reader-access:
    get:
      tags:
        - Reader Access
      summary: Get access details of all invited readers
      description: 'Get access details of all invited readers. Rate limit: 3600 in 60 minutes.'
      operationId: get_reader_access
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReaderAccess'
                description: Reader access details
        '400':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
    post:
      tags:
        - Reader Access
      summary: Grant access to reader
      description: >-
        Grants access to reader. Only applicable when project is protected by "Email Invite". Rate
        limit: 100 in 60 minutes.
      operationId: create_reader_access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Reader access object
              required:
                - email
              properties:
                email:
                  type: string
                  description: Email address of reader
                  example: peter@example.com
                expiresAt:
                  type:
                    - string
                    - 'null'
                  description: 'Date of expiry in Y-m-d\TH:i:sP format'
                  example: '2022-01-01T03:02:01+0000'
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReaderAccess'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
    patch:
      tags:
        - Reader Access
      summary: Revoke access to reader
      description: 'Revokes access to reader. Rate limit: 100 in 60 minutes.'
      operationId: revoke_reader_access
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Reader access object
              required:
                - email
              properties:
                email:
                  type: string
                  description: Email address of reader
                  example: peter@example.com
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReaderAccess'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
  '/changelog/{id}/post':
    post:
      tags:
        - Changelog
      summary: Create a changelog post
      description: >-
        Creates a changelog post from Markdoc content, optionally publishing it immediately. The
        slug is generated from the title if not provided. Permission: `changelog.edit`. Rate limit:
        10800 in 1 hour.
      operationId: create_changelog_post
      parameters:
        - name: id
          in: path
          description: Changelog ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Changelog post object
              properties:
                title:
                  type: string
                  description: Title of the changelog post
                  example: 26 May 2026
                content:
                  type: string
                  description: >-
                    Contents of the post in [Markdoc
                    format](https://docs.developerhub.io/support-center/exporting-documentation#markdoc)
                  example: |
                    We just shipped **2.0**

                    ## Highlights
                    - Faster search
                slug:
                  type: string
                  description: >-
                    Slug in the URL. Must match `^[a-zA-Z0-9-]+$`. Generated from the title if not
                    provided
                  example: 26-may-2026
                published:
                  type: boolean
                  description: Publish the post immediately
                  default: false
              required:
                - title
                - content
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogPost'
        '400':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '415':
          description: Unsupported content-type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsupportedContentType'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
    get:
      tags:
        - Changelog
      summary: List changelog posts
      description: >-
        Lists a changelog's posts, newest first. Returns the 10 most recent posts by default; use
        `cursor` to page. Permission: `changelog.read`. Rate limit: 600 in 60 seconds.
      operationId: list_changelog_posts
      parameters:
        - name: id
          in: path
          description: Changelog ID
          required: true
          schema:
            type: integer
        - name: count
          in: query
          schema:
            type: integer
            default: 10
          description: Number of posts to retrieve. Maximum is 50
          example: 10
          required: false
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor for next page of results
          example: XAr
          required: false
      responses:
        '200':
          description: OK
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangelogPostList'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessDenied'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
      deprecated: false
components:
  headers:
    X-RateLimit-Limit:
      description: Requests permitted until reset time
      schema:
        type: integer
        example: 300
    X-RateLimit-Remaining:
      description: Requests consumed in current period
      schema:
        type: integer
        example: 253
    X-RateLimit-Reset:
      description: Unix timestamp at which requests consumed will reset
      schema:
        type: integer
        example: 1611530395
  schemas:
    Page:
      title: Page
      required:
        - id
        - listed
        - title
        - created
        - updated
        - slug
        - path
        - contentDraft
        - contentPublished
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 86123
        listed:
          type: boolean
          description: True if it can be viewed by readers if the version is published
          example: true
        title:
          type: string
          description: Title of the page
          example: Getting Started
        created:
          type: string
          description: Date of creation
          example: '2019-03-20T19:02:14+0000'
        updated:
          type: string
          description: Date of last update
          example: '2019-03-20T19:02:14+0000'
        slug:
          type: string
          description: Slug in the URL
          example: getting-started
        path:
          type: string
          description: 'Path of the page as version, documentation and page slugs'
          example: v1.0/support-center/getting-started
        contentDraft:
          type:
            - string
            - 'null'
          description: Draft content in the selected format. Null if the page has no draft
          example: This is the page contents
        contentPublished:
          type:
            - string
            - 'null'
          description: Published content in the selected format. Null if never published
          example: This is the page contents
      description: Page object
    User:
      title: User
      required:
        - id
        - email
        - role
        - name
        - lastActiveAt
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 3609
        name:
          type: string
          description: User name
          example: Peter Griffin
        email:
          type: string
          description: User e-mail address
          example: peter@example.com
        role:
          type: string
          description: Role of user
          example: ADMIN
          enum:
            - ADMIN
            - PUBLISHER
            - WRITER
            - REVIEWER
        lastActiveAt:
          type: string
          description: Date of last time user accessed DeveloperHub
          example: '2021-03-20T19:02:14+0000'
      description: User object
    Version:
      title: Version
      required:
        - id
        - published
        - name
        - created
        - updated
        - slug
        - ordr
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 4
        published:
          type: boolean
          description: True if it can be viewed by readers
          example: true
        name:
          type: string
          description: Name of the version
          example: v1.0
        created:
          type: string
          description: Date of creation
          example: '2019-03-20T19:02:14+0000'
        updated:
          type: string
          description: Date of last update
          example: '2019-03-20T19:02:14+0000'
        slug:
          type: string
          description: Slug in the URL
          example: developerhub.io-api
        ordr:
          type: integer
          description: Numerical order in the project
          example: 4
      description: Version object
    Documentation:
      title: Documentation
      required:
        - id
        - title
        - slug
        - created
        - updated
        - ordr
        - published
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 412
        title:
          type: string
          description: Title of the documentation section
          example: Support Center
        slug:
          type: string
          description: Slug in the URL
          example: support-center
        description:
          type:
            - string
            - 'null'
          description: Description of the documentation section
          example: Guides and troubleshooting
        created:
          type: string
          description: Date of creation
          example: '2019-03-20T19:02:14+0000'
        updated:
          type: string
          description: Date of last update
          example: '2019-03-20T19:02:14+0000'
        pagesUpdated:
          type:
            - string
            - 'null'
          description: Date of last update to any page in the section
          example: '2019-03-20T19:02:14+0000'
        ordr:
          type: integer
          description: Numerical order in the version
          example: 1
        published:
          type: boolean
          description: True if it can be viewed by readers
          example: true
        collapsed:
          type: boolean
          description: True if the section's navigation starts collapsed
          example: true
        wide:
          type: boolean
          description: True if pages render in wide layout
          example: true
        sticky:
          type: boolean
          description: True if the section navigation is sticky
          example: true
        locale:
          type: string
          description: Locale of the section
          example: en_us
        showPagesLastUpdated:
          type: boolean
          description: True if pages show their last update date
          example: false
        showPagesLastUpdateUser:
          type: boolean
          description: True if pages show who last updated them
          example: false
        hasExpandableCategories:
          type: boolean
          description: True if navigation categories are expandable
          example: false
      description: Documentation section object
    VersionReportPage:
      title: Version Report Page
      required:
        - id
        - title
        - hasDraft
        - listed
        - created
        - createdBy
        - updated
        - updatedBy
        - sourceCreated
        - sourceCreatedBy
      type: object
      properties:
        id:
          type: integer
          description: Page ID
          example: 86123
        title:
          type: string
          description: Title of the page
          example: Getting Started
        hasDraft:
          type: boolean
          description: True if the page has unpublished draft changes
          example: false
        listed:
          type: boolean
          description: True if the page is accessible for readers
          example: true
        sourceCreated:
          type: string
          description: >-
            Date the page was originally created, tracked through version duplication to the
            original page
          example: '2019-03-20T19:02:14+0000'
        sourceCreatedBy:
          $ref: '#/components/schemas/VersionReportUser'
        created:
          type: string
          description: Date of creation in this version
          example: '2019-03-20T19:02:14+0000'
        createdBy:
          $ref: '#/components/schemas/VersionReportUser'
        updated:
          type: string
          description: Date of last update
          example: '2019-03-20T19:02:14+0000'
        updatedBy:
          $ref: '#/components/schemas/VersionReportUser'
      description: One page's row in the version report
    VersionReportUser:
      title: Version Report User
      type: object
      properties:
        id:
          type:
            - integer
            - 'null'
          description: User ID. Null if unknown
          example: 3609
        email:
          type:
            - string
            - 'null'
          description: User e-mail address. Null if unknown
          example: peter@example.com
        name:
          type:
            - string
            - 'null'
          description: User name. Null if unknown
          example: Peter Griffin
      description: User attribution in a version report
    BrokenLink:
      title: Broken Link
      required:
        - severity
        - issue
        - message
        - isDraft
        - page
        - link
        - target
      type: object
      properties:
        severity:
          type: string
          description: >-
            Severity of the issue. `error` for links that will not resolve; `warning` for links
            that may resolve to the wrong or to hidden content.
          example: error
          enum:
            - error
            - warning
        issue:
          type: string
          description: >-
            Machine-readable issue code. Currently one of: `broken_link` (points to a page or
            reference that does not exist in this version), `app_link` (points to the DeveloperHub
            app instead of your documentation), `same_slug` (another page in the same section shares
            the slug, so the link may resolve to the wrong page), `linked_page_unlisted` (the linked
            page is unlisted), `linked_page_in_unpublished_documentation` (the linked page is in an
            unpublished documentation section), or `linked_page_in_unpublished_reference` (the linked
            page is in an unpublished API reference). New codes may be added over time.
          example: broken_link
        message:
          type: string
          description: Human-readable explanation of the issue, suitable for display.
          example: The link points to a page or reference that does not exist in this version.
        isDraft:
          type: boolean
          description: True if the link was found in the page's unpublished draft content.
          example: false
        page:
          type: object
          description: The page whose content contains the offending link.
          required:
            - id
            - title
          properties:
            id:
              type: integer
              description: Page ID
              example: 86123
            title:
              type: string
              description: Title of the page
              example: Getting Started
        link:
          type: object
          description: The offending link.
          required:
            - text
            - href
            - type
            - fragment
            - targetId
          properties:
            text:
              type:
                - string
                - 'null'
              description: The anchor text of the link. Null if the link had no text.
              example: our login screen
            href:
              type:
                - string
                - 'null'
              description: The link target as authored. Null when not applicable to the issue.
              example: /getting-started
            type:
              type: string
              description: 'What the link points at: an internal page, an API reference, or an external URL.'
              example: page
              enum:
                - page
                - ref
                - external
            fragment:
              type:
                - string
                - 'null'
              description: The heading anchor (URL fragment) the link points to. Null if there is none.
              example: installation
            targetId:
              type:
                - integer
                - 'null'
              description: >-
                ID of the page or reference the link resolves to, when known. Null when no target
                could be resolved.
              example: 86444
        target:
          type: object
          description: Details about the linked content, when the issue resolves one.
          required:
            - title
            - section
          properties:
            title:
              type:
                - string
                - 'null'
              description: Title of the linked page. Null when the issue does not resolve a page.
              example: Hidden Page
            section:
              type:
                - string
                - 'null'
              description: >-
                Name of the documentation section or API reference the linked page belongs to. Null
                when not applicable.
              example: Internal Docs
      description: A broken or risky link found in a version's content
    Reference:
      title: Reference
      required:
        - id
        - title
        - created
        - updated
        - slug
        - ordr
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 5
        title:
          type: string
          description: Title of the API Reference
          example: DeveloperHub.io API
        created:
          type: string
          description: Date of creation
          example: '2019-03-20T19:02:14+0000'
        updated:
          type: string
          description: Date of last update
          example: '2019-03-20T19:02:14+0000'
        slug:
          type: string
          description: Slug in the URL
          example: developerhub.io-api
        ordr:
          type: integer
          description: Numerical order in the version
          example: 1
      description: Reference object
    SearchResult:
      title: SearchResult
      type: object
      properties:
        hits:
          type: array
          items:
            type: object
            properties:
              content:
                type: string
                description: Content where hit was found
                example: >
                  To use project variables in an API Reference, replace all occurrences of the
                  variable with the variable reference. For example, one definition property could
                  be:

                  version:
                      type: string
                      description: Version of the API
                      example: "%versions.last_version%"


                  Warning

                  Note that YAML requires you to use double quotations to escape a string containing
                  percent sign.

                  Known Limitations


                  Variables do not work as HREFs for links.
              title:
                description: >-
                  Title of the hit. It is either the page title or the heading title for the hit if
                  it is in a documentation page, or the name of the operation if it was in an API
                  reference.
                type: string
                example: Using Project Variables in References
              sectionType:
                description: 'Type of section: ''doc'' for documentation or ''ref'' for reference'
                type: string
                example: doc
                enum:
                  - doc
                  - ref
              version:
                type: string
                example: v1.0
                description: Name of version
              section:
                type: string
                example: Support Center
                description: Name of section
              page:
                type: string
                example: Variables
                description: Name of page
              pageId:
                type: number
                example: 86444
                description: Page ID
              fragment:
                type: string
                example: using-project-variables-in-references
                description: URL fragment
              path:
                type: string
                example: '/v1.0/support-center/variables#using-project-variables-in-references'
                description: 'Path, without the host, to direct the user to to find the content'
            required:
              - content
              - title
              - sectionType
              - version
              - section
              - path
        nbHits:
          type: integer
          description: Number of hits retrieved
          example: 20
        page:
          type: integer
          description: Current page
          example: 1
        nbPages:
          type: integer
          description: Number of pages that can be searched for this query
          example: 3
        hitsPerPage:
          type: integer
          description: Number of hits per page
          example: 20
        query:
          type: string
          description: Query used
          example: variables
        basepath:
          type: string
          description: 'Basepath of the project, if any.'
          example: docs
        host:
          type: string
          description: Host of the project including scheme.
          example: 'https://docs.pied-piper.com'
      required:
        - hits
        - nbHits
        - page
        - nbPages
        - hitsPerPage
        - query
        - basepath
    AccessDenied:
      title: AccessDenied
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Message of the error
              example: Access Denied
            httpCode:
              type: number
              description: HTTP code returned
              example: 403
            code:
              type: number
              description: Internal error code
              example: 403
    UnsupportedContentType:
      title: UnsupportedContentType
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Message of the error
              example: Unsupported content-type 'form'. Supported content-type is 'application/json'.
            httpCode:
              type: number
              description: HTTP code returned
              example: 415
            code:
              type: number
              description: Internal error code
              example: 415
    TooManyRequests:
      title: TooManyRequests
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Message of the error
              example: You exceeded the rate limit
            httpCode:
              type: number
              description: HTTP code returned
              example: 429
            code:
              type: number
              description: Internal error code
              example: 9
    Error:
      title: Error
      type: object
      properties:
        message:
          type: string
          description: Message of the error
          example: No file provided.
        httpCode:
          type: number
          description: HTTP code returned
          example: 400
        code:
          type: number
          description: Internal error code
          example: 400
    AllProject:
      title: AllProject
      required:
        - page
        - documentation
        - reference
        - version
      type: object
      properties:
        page:
          type: object
          description: A key-value dictionary mapping of page ID to page details
          additionalProperties:
            type: object
            properties:
              title:
                type: string
                description: Page title
                example: Getting Started
              updated:
                type: string
                description: Date of last update
                example: '2019-03-20T19:02:14+0000'
              documentationId:
                type: integer
                description: Documentation ID
                example: 412
              listed:
                type: boolean
                description: True if page is accessible for readers
                example: true
          example:
            '6177':
              title: Getting Started
              updated: '2019-03-20T19:02:14+0000'
              documentationId: 412
              listed: true
        documentation:
          type: object
          description: A key-value dictionary mapping of documentation ID to documentation details
          additionalProperties:
            type: object
            properties:
              title:
                type: string
                description: Documentation title
                example: Getting Started
              versionId:
                type: integer
                description: Version ID
                example: 310
          example:
            '412':
              title: Support Center
              versionId: 310
        reference:
          type: object
          description: A key-value dictionary mapping of reference ID to reference details
          additionalProperties:
            type: object
            properties:
              title:
                type: string
                description: Reference title
                example: Getting Started
              versionId:
                type: integer
                description: Version ID
                example: 310
          example:
            '917':
              title: Support Center
              versionId: 310
        version:
          type: object
          description: A key-value dictionary mapping of version ID to version details
          additionalProperties:
            type: object
            properties:
              name:
                type: string
                description: Version title
                example: Getting Started
              published:
                type: boolean
                description: True if it can be viewed by readers
                example: true
          example:
            '310':
              name: v1.0
              published: true
      description: All resources in a project
    Audit:
      type: object
      required:
        - data
        - count
        - total
        - cursor
      properties:
        data:
          type: array
          items:
            title: Audit Log
            required:
              - ipAddress
              - entity
              - entityId
              - details
              - scope
              - message
              - operation
              - timestamp
            type: object
            properties:
              ipAddress:
                type: string
                description: IP Address of the user who made the change
                example: 81.123.55.209
              entity:
                type: string
                description: Type of entity.
                example: page
                enum:
                  - page
                  - documentation
                  - reference
                  - version
                  - project
                  - landing-page
                  - index
                  - project-import
                  - project-user
              entityId:
                type: string
                description: ID of entity
                example: '452'
              details:
                type: object
                description: Changes to the entity
              scope:
                type: string
                description: Scope of the change
                example: content
              message:
                type: string
                description: Message describing the change
                example: edited
              operation:
                type: string
                description: Operation of the change
                example: INS
                enum:
                  - INS
                  - UPD
                  - DEL
                  - READ
                  - ADD
                  - REM
              timestamp:
                type: string
                description: Date of change
                example: '2021-01-19T20:43:56+00:00'
              user:
                type: string
                description: User making the change
                example: 829 <hello@developerhub.io>
              apiKey:
                type: boolean
                description: True if change was authenticated through an API Key
                example: false
            description: Audit log object
        count:
          type: integer
          description: Number of hits retrieved
          example: 20
        total:
          type: integer
          description: Total number of hits retrievable
          example: 620
        cursor:
          type: string
          description: Cursor for next page of results. Null value if there are no more results
          example: XAr
    ReaderAccess:
      title: Reader Access
      description: Reader Access
      required:
        - email
        - expiresAt
        - created
        - revoked
      type: object
      properties:
        email:
          type: string
          description: Reader e-mail address
          example: peter@example.com
        expiresAt:
          type:
            - string
            - 'null'
          description: Date when the access expires. Null if it never expires.
          example: '2022-04-20T19:03:14+0000'
        created:
          type: string
          description: Date of access creation
          example: '2022-03-20T19:02:14+0000'
        revoked:
          type:
            - string
            - 'null'
          description: Date when revoked. Null if not revoked.
          example: '2022-03-22T20:02:15+0000'
    ChangelogPost:
      title: Changelog Post
      description: Changelog post object
      required:
        - id
        - title
        - slug
        - published
        - content
        - created
        - updated
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier
          example: 4821
        title:
          type: string
          description: Title of the changelog post
          example: 26 May 2026
        slug:
          type: string
          description: Slug in the URL
          example: 26-may-2026
        published:
          type: boolean
          description: True if the post is published
          example: true
        content:
          type:
            - string
            - 'null'
          description: Contents of the post in Markdoc format. Null if the post has no content.
          example: We just shipped **2.0**
        created:
          type: string
          description: Date of creation
          example: '2026-06-02T19:02:14+0000'
        updated:
          type: string
          description: Date of last update
          example: '2026-06-02T19:02:14+0000'
    ChangelogPostList:
      title: Changelog Post List
      description: Paginated list of changelog posts
      type: object
      required:
        - posts
        - count
        - total
        - cursor
      properties:
        posts:
          type: array
          items:
            $ref: '#/components/schemas/ChangelogPost'
        count:
          type: integer
          description: Number of posts retrieved
          example: 10
        total:
          type: integer
          description: Total number of posts in the changelog
          example: 42
        cursor:
          type:
            - string
            - 'null'
          description: Cursor for next page of results. Null value if there are no more results
          example: XAr
  securitySchemes:
    Api-Key:
      type: apiKey
      description: >-
        Generate an API Key from [DeveloperHub.io platform](https://app.developerhub.io) and provide
        it in the header such as `--header "X-Api-Key: <api-key>"` for cURL for all the requests
        requiring this authentication.
      name: X-Api-Key
      in: header
security:
  - Api-Key: []
tags:
  - name: Page
    description: 'Operations for creating, reading, updating, publishing, and deleting pages.'
  - name: Documentation
    description: Operations for listing documentation sections.
  - name: Version
    description: 'Operations for listing, updating, and reporting on project versions.'
  - name: Reference
    description: 'Operations for adding, reading, and publishing API reference specifications.'
  - name: Project
    description: 'Project-level operations such as export, search, audit log, and users.'
  - name: Changelog
    description: Operations for creating and listing changelog posts.
